# Dependencies
node_modules/

# Build output
dist/
.output/
.build/

# Vite
.vite/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Coverage
coverage/

# Cache
.cache/
.eslintcache

# Temporary files
tmp/
temp/

# Firebase
.firebase/
firebase-debug.log

# TanStack Start
.vercel/
.netlify/

# Misc
*.local

t.txt
